/*header style*/

@media screen and (max-width: 1200px) {

    .header-btn {
        border-radius: 32px;
        border: 1px solid #ffffff;
        background-image: none; 
        background: transparent;
        background-color: transparent;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 10px;
    }

/*Main resonsive*/


    section {
        margin-bottom: 70px;
    }
    
    h1 {
        font-size: 120px;
        font-weight: bold;
    }

    .box-contant {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .title-info {
        margin: 30px auto;
    }

    .gradient-element-small {
        display: none;
    }

    .select-box {
        height: 650px;
    }

    .select-card {
        margin: 3% auto;
    }

    .select-subtitle {
        font-size: 45px;
        font-weight: 400;
        letter-spacing: -1px;
        margin: 3% auto 5px;
    }

    .select-title-info {
        font-size: 13px;
        line-height: 20px;
    }

    .select-title {
        font-size: 16px;
        font-weight: 100;
        letter-spacing: -1px;
        line-height: 20px;
    }
    
    .select-img {
        display: none;
    }
    
    .select-list {
        display: none;
    }

    .white-btn {
        margin-bottom: 35px;
    }
    
    .content-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-about {
        width: 80%; 
        text-align: center;
    }

    .subtitle {
        font-size: 55px;
        font-weight: bold;
        line-height: 1;
        letter-spacing: 0;
    }

    .make-design-btn {
        margin-bottom: 10px;
    }

    .box-with-gradient {
        width: 100%;
        height: 500px;
    }

    .box-with-side-gradient {
        width: 100%;
        margin-bottom: 20px;
        height: 500px;
    }

    .purple-title {
        display: none;
    }

    .contact-box {
        margin-top: 75px;
    }    

    .social-container {
        height: 100px;
    }

    .follow-us-info {
        font-size: 10px;
        line-height: 15px;
    }

    .social-icon-style {
        font-size: 20px;
    }

    .contact-card {
        font-size: 15px;
        font-weight: 100;
        line-height: 20px;
        width: 100%;
        margin: auto 3%;
    }

/*grid responsive*/
    
    .filter-btn {
        font-size: 12px;
        font-weight: 100;
        line-height: 75px;
    }

    .grid-subtitle {
        display: none;
    }

    .grid-title {
        display: none;
    }

    .grid-item-4 {
        background: url(../img/girl-on-the-beach.png);
        grid-area: 3/1/5/3;
    }
    
    .grid-item-5 {
        background: url(../img/kinfolk.png);
        grid-area: 3/3/5/5;
    }
    
    .grid-item-6 {
        background: url(../img/blue-window.png);
        grid-area: 5/1/6/3;
    }
    
    .grid-item-7 {
        background: url(../img/boy.png);
        grid-area: 5/3/6/5;
    }
    
    .grid-item-8 {
        background: url(../img/wood-staf.png);
        grid-area: 6/1/7/3;
    }
    
    .grid-item-9 {
        background: url(../img/creepy-diver.png);
        grid-area: 6/3/7/5;
    }


    /*Footer style */

    .footer-box {
        flex-direction: column;
        align-items: center;
    }

    .footer-card {
        align-items: center;
        margin-top: 15px;
        width: 75%;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .subscribe-btn {
        border: none;
    }

    .footer-line {
        margin-top: 30px;
    }
}

/* grid responsive 740px */

@media screen and (max-width: 740px) {

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .grid-container > div {
        margin: 2% 0;
    }
}